<ion-header>
    <ion-navbar>
        <ion-title>
            {{ tvShow.title }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
            Taille : {{ tvShow.size }}
        </ion-item>
        <ion-item>
            Langue : {{ tvShow.langue }}
        </ion-item>
        <ion-item>
            Résolution : {{ tvShow.resolution }}
        </ion-item>
        <ion-item>
            Date du post : {{tvShow.pubDate | date: 'dd/MM/yyyy'}}
        </ion-item>
        <ion-item>
            <button ion-button full color="secondary" (click)="checkNzb()">Check NZB</button>
        </ion-item>
    </ion-list>
    <br>
    <ion-list>
        <ion-item *ngFor="let nzb of result">
            <ion-icon name="download" class="icon-download" (click)="download(nzb)"></ion-icon> {{nzb.title}}
        </ion-item>
        <ion-item *ngIf="noResult">
            Aucun résultat
        </ion-item>
    </ion-list>
</ion-content>