<ion-header>
    <ion-navbar>
        <ion-title>
            {{ tvShow.title }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
            Taille : {{ tvShow.size }}
        </ion-item>
        <ion-item>
            Langue : {{ tvShow.langue }}
        </ion-item>
        <ion-item>
            Résolution : {{ tvShow.resolution }}
        </ion-item>
        <ion-item>
            Date du post : {{tvShow.pubDate | date: 'dd/MM/yyyy'}}
        </ion-item>
        <ion-item>
            <button ion-button full color="secondary" (click)="checkNzb()">Check NZB</button>
        </ion-item>
    </ion-list>
    <br>
    <ion-list>
        <ion-item *ngFor="let nzb of result">
            <ion-grid>
                <ion-row>
                    <ion-col col-1 class="item-icon" (click)="download(nzb)">
                        <ion-icon name="download"></ion-icon>
                    </ion-col>
                    <ion-col col-11>
                        <ion-row>
                            <ion-col col-12>
                                <span nowrap>{{nzb.title}}</span>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-6>
                                <h3>{{nzb.sizeElement}}</h3>
                            </ion-col>
                            <ion-col col-6>
                                <h3>{{nzb.pubDate | date: 'dd/MM/yyyy'}}</h3>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
        <ion-item *ngIf="noResult">
            Aucun résultat
        </ion-item>
    </ion-list>
</ion-content>