<ion-header>
  <ion-navbar>
    <ion-title>
      Recherche
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>

  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>Catégorie</ion-label>
      <ion-select [(ngModel)]="categorySelect">
        <ion-option *ngFor="let category of categories" value="{{category}}">{{category}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label fixed>Titre</ion-label>
      <ion-input type="text" [(ngModel)]="titleSearch"></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button (click)="search()">Rechercher</button>
  <ion-list>
    <ion-list-header>
      Résultats
    </ion-list-header>
    <button ion-item *ngFor="let tvShow of tvShows" (click)="openNavDetailsPage(tvShow)" icon-start>
      {{ tvShow.title }}
    </button>
  </ion-list>
</ion-content>
